<ion-header>

  <ion-navbar>
    <ion-item no-lines>
      <button ion-button item-start default color="danger" (click)="dismiss()">ปิด</button>
      <ion-title>เพิ่มการบันทึก</ion-title>
      <button [disabled]="!formInputs.form.valid" ion-button item-end default color="success" (click)="addRecord(formInputs.value)">บันทึก</button>
    </ion-item>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #formInputs="ngForm">
    <ion-grid>
      <ion-row>
        <!-- Cold Storage ID -->
        <ion-col col-6>
          <ion-item>
            <div ion-text item-content>เลือกห้องเย็น</div>
            <ion-select (ionChange)="getRecords()" name="storage_id" [(ngModel)]="storage_id">
              <ion-option>1</ion-option>
              <ion-option>2</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <!-- Time -->
        <ion-col *ngIf="storage_id" col-6>
          <ion-item>
            <ion-label color="primary">รอบ</ion-label>
            <ion-select required name="time_record" [(ngModel)]="time_record">
              <ion-option *ngFor="let time_record of time_records" [value]="time_record">{{time_record}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>