<!--
  Generated template for the QcRecorderDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-item no-lines>
      <button ion-button default item-start (click)="dismiss()" color="danger">ปิด</button>
      <ion-title>รายละเอียดการบันทึก</ion-title>
      <button [disabled]="!receivingForm.form.valid" item-end default type="submit" color="success" ion-button (click)="updateReceiving(receivingForm.value)">แก้ไข</button>
    </ion-item>

    <ion-item text-center no-lines>
      <ion-datetime ion-content disabled displayFormat="DD/MM/YYYY" [(ngModel)]="details.date"></ion-datetime>
    </ion-item>
    <ion-item text-center no-lines>
      <ion-label item-content>แหล่งที่มา : <span ion-text color="primary">{{details.supplier.name}}</span></ion-label>
      <ion-label item-content>บ่อ : <span ion-text color="primary">{{details.sp_pond}}</span></ion-label>
      <ion-label item-content>code : <span ion-text color="primary">{{details.sp_code}}</span></ion-label>
    </ion-item>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #receivingForm="ngForm">
    <ion-grid>
      <ion-row>
        <!-- Time -->
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">เที่ยว</ion-label>
            <ion-input required name="round" [(ngModel)]="details.round"></ion-input>
          </ion-item>
        </ion-col>
        <!-- Water Temperature -->
        <ion-col col-6>
          <button (click)="addWaterTemp()" type="button" ion-button color="primary">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            อุณหภูมิน้ำ
          </button>
        </ion-col>
        <!-- Water Temperature -->
        <ion-col col-12>
          <ion-row>
            <ion-col no-padding col-6 *ngFor="let waterTemp of waterTemps; let i =index">
              <ion-row *ngIf="waterTemps!=null">
                <ion-col no-padding col-9>
                  <ion-item>
                    <ion-label color="primary">อุณหภูมิน้ำ</ion-label>
                    <ion-input type="number" maxlength="4" text-right [ngModelOptions]="{standalone:true}" [(ngModel)]="waterTemp.water_temp"></ion-input>
                    <div ion-text item-end>°C</div>
                  </ion-item>
                </ion-col>
                <ion-col col-3>
                  <button ion-button color="danger" (click)="removeWaterTemp(i)">ลบ</button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- Shrimp Size -->
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">ขนาดกุ้ง</ion-label>
            <ion-input  text-right type="number" name="shrimp_size" [(ngModel)]="details.shrimp_size"></ion-input>
            <div ion-text item-end>ตัว/กก.</div>
          </ion-item>
        </ion-col>
        <!-- Shrimp Big -->
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">ใหญ่</ion-label>
            <ion-input (change)="setUF(details.shrimp_big,details.shrimp_small)"  text-right type="number" name="shrimp_big"
              [(ngModel)]="details.shrimp_big"></ion-input>
          </ion-item>
        </ion-col>
        <!-- Shrimp Small -->
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">เล็ก</ion-label>
            <ion-input (change)="setUF(details.shrimp_big,details.shrimp_small)"  text-right type="number" name="shrimp_small"
              [(ngModel)]="details.shrimp_small"></ion-input>
          </ion-item>
        </ion-col>
        <!-- Shrimp UF -->
        <ion-col col-6>
          <ion-item *ngIf="details.shrimp_small && details.shrimp_big">
            <ion-label color="primary">U.F </ion-label>
            <ion-input required disabled text-right name="shrimp_uf" type="number" [(ngModel)]="details.shrimp_uf"> </ion-input>
          </ion-item>
        </ion-col>
        <!-- Defected -->
        <ion-col margin-top col-12>
          <ion-item color="primary" text-center>
            <ion-label>ข้อบกพร่อง</ion-label>
          </ion-item>
        </ion-col>
        <!-- DF Shrimp Dead -->
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">กุ้งตาย</ion-label>
            <ion-input text-right name="df_shrimp_dead" type="number" [(ngModel)]="details.df_shrimp_dead"> </ion-input>
            <div ion-text item-content>กรัม  <span ion-text color="dark">| {{df_s_dead_percent | number}}</span>%</div>
          </ion-item>
        </ion-col>
        <!-- DF Shrimp Semi Soft -->
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">นิ่ม</ion-label>
            <ion-input type="number" text-right name="df_shrimp_semi_soft" [(ngModel)]="details.df_shrimp_semi_soft"> </ion-input>
            <div ion-text item-end>กรัม</div>
          </ion-item>
        </ion-col>
        <!-- DF Shrimp Soft Shell -->
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">นิ่มวุ้น</ion-label>
            <ion-input type="number" text-right name="df_shrimp_soft_shell" [(ngModel)]="details.df_shrimp_soft_shell"> </ion-input>
            <div ion-text item-end>กรัม</div>
          </ion-item>
        </ion-col>
        <!-- DF Shrimp Scar -->
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">แผล</ion-label>
            <ion-input type="number" text-right name="df_shrimp_scar" [(ngModel)]="details.df_shrimp_scar"> </ion-input>
            <div ion-text item-end>กรัม</div>
          </ion-item>
        </ion-col>
        <!-- DF Shrimp BK Line -->
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">แก้มขีดดำ</ion-label>
            <ion-input type="number" text-right name="df_shrimp_bk_line" [(ngModel)]="details.df_shrimp_bk_line"> </ion-input>
            <div ion-text item-end>กรัม</div>
          </ion-item>
        </ion-col>
        <!-- DF Shrimp Disabled -->
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">พิการ</ion-label>
            <ion-input type="number" text-right name="df_shrimp_disabled" [(ngModel)]="details.df_shrimp_disabled"> </ion-input>
            <div ion-text item-end>กรัม</div>
          </ion-item>
        </ion-col>

        <!-- Car Release -->
        <ion-col col-12>
          <ion-item margin-top color="primary" text-center>
            <ion-label>เวลารถ</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-8>
            <ion-row >
                <ion-col>
                  <ion-item>
                    <ion-label color="primary">เวลาปล่อยรถ</ion-label>
                    <ion-datetime required displayFormat="HH:mm" name="car_release_start" [(ngModel)]="details.car_release_start"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col>               
                   <ion-item>
                      <ion-label color="gray">ถึง</ion-label>
                      <ion-datetime required displayFormat="HH:mm" name="car_release_end" [(ngModel)]="details.car_release_end"></ion-datetime>
                   </ion-item>
                </ion-col>
              </ion-row>
        </ion-col>
        <!-- Car Waiting Time -->
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">เวลารอลง</ion-label>
            <ion-input text-right type="number" required name="car_waiting_time" [(ngModel)]="details.car_waiting_time"></ion-input>
            <div ion-text item-end>นาที</div>
          </ion-item>
        </ion-col>
        <!-- Real Shrimp Dead -->
        <ion-col margin-top col-12>
          <ion-item color="primary" text-center>
            <ion-label>น้ำหนักจากการชั่งจริง</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">น้ำหนักกุ้งตาย</ion-label>
            <ion-input item-content type="number" required text-right name="real_shrimp_dead" [(ngModel)]="details.real_shrimp_dead">
            </ion-input>
            <div ion-text item-end>กก.</div>
          </ion-item>
        </ion-col>
        <!-- Weight -->
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">น้ำหนักหักตะกร้า</ion-label>
            <ion-input item-content type="number" required text-right name="weight" [(ngModel)]="details.weight"> </ion-input>
            <div ion-text item-end>กก.</div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>