<ion-header>

  <ion-navbar>
    <ion-item no-lines>
      <button ion-button item-start default color="danger" (click)="dismiss()">ปิด</button>
      <ion-title>แก้ไข</ion-title>
      <button ion-button item-end default color="success" (click)="updateExpImage()">บันทึก</button>
    </ion-item>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #formInputs="ngForm">
    <ion-grid>
      <ion-row>
        <!-- Sticker -->
        <ion-col col-12>
          <ion-item>
            <button ion-button item-start default color="danger" (click)="deletePhoto('sticker')">ลบ</button>
            <ion-label item-content>สติ๊กเกอร์</ion-label>
            <button ion-button item-end default color="primary" (click)="takePhoto('sticker')">
                                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                      อัพโหลดรูป
                                    </button>
          </ion-item>
          <ion-col col-12>
            <img class="exp-image" *ngIf="oldStickerImage" [src]="oldStickerImage">
          </ion-col>
        </ion-col>
        <!-- inSide -->
        <ion-col col-12>
          <ion-item>
            <button ion-button item-start default color="danger" (click)="deletePhoto('inside')">ลบ</button>
            <ion-label item-content>กล่องใน</ion-label>
            <button ion-button item-end default color="primary" (click)="takePhoto('inside')">
                                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                      อัพโหลดรูป
                                    </button>
          </ion-item>
          <ion-col col-12>
            <img class="exp-image" *ngIf="oldInSideImage" [src]="oldInSideImage">
          </ion-col>
        </ion-col>
        <!-- OutSide -->
        <ion-col col-12>
          <ion-item>
            <button ion-button item-start default color="danger" (click)="deletePhoto('outside')">ลบ</button>
            <ion-label item-content>กล่องนอก</ion-label>
            <button ion-button item-end default color="primary" (click)="takePhoto('outside')">
                          <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          อัพโหลดรูป
                        </button>
          </ion-item>
          <ion-col col-12>
            <img class="exp-image" *ngIf="oldOutSideImage" [src]="oldOutSideImage">
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>