page-pd-expiration-add {
    input{
        font-size:2.2rem !important;
    }
    ion-label{
        font-size:2.2rem;
    }
    ion-datetime{
        font-size:2.2rem
    }
    .col{
        margin-bottom:10px;
    }
}
