<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-item no-lines color="primary">
            <ion-title text-center>
              อุณหภูมิห้องเย็น
            </ion-title>
            <button ion-button item-end default color="info" (click)="openPage('EngineerPage')">
                <ion-icon item-start><i class="fa fa-pencil-square-o" aria-hidden="true"></i></ion-icon>
                <span>ระบบบันทึกอื่นๆ</span>
            </button>
          </ion-item>
  </ion-navbar>
</ion-header>


<ion-content padding class="eng-scroll-main-content">
  <!-- Top Card -->
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-5>
            <ion-item>
              <ion-label fixed>เลือกวันที่</ion-label>
              <ion-datetime (ionChange)="getRecords()" displayFormat="DD/MM/YYYY" [(ngModel)]="date"></ion-datetime>
              <button ion-button item-end default color="primary" (click)="getRecords()">ค้นหา</button>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <button ion-button item-end default color="primary" (click)="addRecord()">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  เพิ่มการบันทึก
                </button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- Bottom Card -->
  <ion-card>
    <!-- Date -->
    <ion-item no-lines text-center>
      <ion-label class="text-large">สรุปการบันทึกวันที่ {{result_date | date:'d/M/yy'}}</ion-label>
    </ion-item>
    <!-- Table Result -->
    <ion-list inset>
      <!-- Table Header -->
      <ion-item text-center class="table-header eng-scroll-header">
        <!-- --Round -->
        <div item-content class="group-header-30">
          <h2></h2>
          <div class="group-header-content">
            <ion-label>รอบ</ion-label>
          </div>
        </div>
        <!-- Real Time -->
        <div *ngIf="user?.type_id==user_types?.admin" item-content class="group-header-30">
            <h2></h2>
            <div class="group-header-content">
              <ion-label>เวลาบันทึกจริง</ion-label>
            </div>
          </div>
        <!-- --Cold Storage 1 -->
        <div text-center item-content class="group-header">
          <h2>Cold Storage 1</h2>
          <div class="group-header-content">
            <ion-label>RM</ion-label>
            <ion-label>C1/1</ion-label>
            <ion-label>C1/2</ion-label>
            <ion-label>C1/3</ion-label>
            <ion-label>Defrost</ion-label>
            <ion-label>สถาณะ</ion-label>
          </div>
        </div>
        <!-- --Cold Storage 2 -->
        <div item-content class="group-header-60">
          <h2>Cold Storage 2</h2>
          <div class="group-header-content">
            <ion-label>RM</ion-label>
            <ion-label>Defrost</ion-label>
            <ion-label>สถาณะ</ion-label>
          </div>
        </div>
        <button item-start ion-button default clear disabled>แก้ไข</button>
        <button item-end ion-button default clear disabled>ลบ</button>
      </ion-item>
      <ion-scroll class="eng-scroll-content" scrollY="true">
        <ion-card-content no-padding>
          <!-- Yesterday Result -->
          <ion-item *ngIf="yesterday_meter" text-center class="table-content">
            <button clear disabled item-start ion-button default color="light" (click)="editRecord(recorder)">แก้ไข</button>
            <!--  --Time Record -->
            <div item-content class="group-header-30">
              <h2></h2>
              <div class="group-header-content">
                <ion-label>{{yesterday_meter?.zero_time_record}}</ion-label>
              </div>
            </div>
            <!-- --Real Time Record -->
            <div *ngIf="user?.type_id==user_types?.admin" item-content class="group-header-30">
                <h2></h2>
                <div class="group-header-content">
                  <ion-label>{{yesterday_meter?.updated_at | date:'H:m d/M/yy'}}</ion-label>
                </div>
              </div>
              <!-- --Cold Storage 1 -->
            <div text-center item-content class="group-header">
              <div class="group-header-content">
                <ion-label *ngIf="yesterday_meter?.cs1_rm <= -18;else warningRm1">{{yesterday_meter?.cs1_rm}}</ion-label>
                <ng-template #warningRm1>
                  <ion-label color="danger">{{yesterday_meter?.cs1_rm}}</ion-label>
                </ng-template>
                <ion-label>{{yesterday_meter?.cs1_c_1_1}}</ion-label>
                <ion-label>{{yesterday_meter?.cs1_c_1_2}}</ion-label>
                <ion-label>{{yesterday_meter?.cs1_c_1_3}}</ion-label>
                <ion-label>
                  <div *ngIf="yesterday_meter?.cs1_defrost_status">{{yesterday_meter?.time_record}}</div>
                </ion-label>
                <ion-label *ngIf="yesterday_meter?.cs1_defrost_status=='ปกติ';else warningStatus1">{{yesterday_meter?.cs1_defrost_status}}</ion-label>
                <ng-template #warningStatus1>
                  <ion-label color="danger">{{yesterday_meter?.cs1_defrost_status}}</ion-label>
                </ng-template>
              </div>
            </div>
            <!-- --Cold Storage 2 -->
            <div item-content class="group-header-60">
              <div class="group-header-content">
                <ion-label *ngIf="yesterday_meter?.cs2_rm <= -18;else warningRm2">{{yesterday_meter?.cs2_rm}}</ion-label>
                <ng-template #warningRm2>
                  <ion-label color="danger">{{yesterday_meter?.cs2_rm}}</ion-label>
                </ng-template>
                <ion-label>
                  <div *ngIf="yesterday_meter?.cs2_defrost_status">{{yesterday_meter?.time_record}}</div>
                </ion-label>
                <ion-label *ngIf="yesterday_meter?.cs2_defrost_status=='ปกติ';else warningStatus2">{{yesterday_meter?.cs2_defrost_status}}</ion-label>
                <ng-template #warningStatus2>
                  <ion-label color="danger">{{yesterday_meter?.cs2_defrost_status}}</ion-label>
                </ng-template>
              </div>
            </div>
            <button clear disabled item-end ion-button default color="light" (click)="deleteRecord(recorder)">ลบ</button>
          </ion-item>
          <!-- End Yesterday -->
          <!-- Today Result -->
          <ion-item (click)="setHighlight(i)" [ngClass]="{'highlight':isHighlightVisible[i]}" *ngFor="let recorder of recorders;let i =index" text-center class="table-content">
            <button item-start ion-button default color="warning" (click)="editRecord(recorder)">แก้ไข</button>
            <!-- --Time Record -->
            <div item-content class="group-header-30">
              <h2></h2>
              <div class="group-header-content">
                <ion-label>{{recorder.time_record}}</ion-label>
              </div>
            </div>
            <!-- Real Time Record -->
            <div *ngIf="user?.type_id==user_types?.admin" item-content class="group-header-30">
                <h2></h2>
                <div class="group-header-content">
                  <ion-label >{{recorder.updated_at | date:'H:m d/M/yy'}}</ion-label>
                </div>
              </div>
              <!-- --Cold Storage 1 -->
            <div text-center item-content class="group-header">
              <div class="group-header-content">
                <ion-label *ngIf="recorder.cs1_rm <= -18;else warningRm1">{{recorder.cs1_rm}}</ion-label>
                <ng-template #warningRm1>
                  <ion-label color="danger">{{recorder.cs1_rm}}</ion-label>
                </ng-template>
                <ion-label>{{recorder.cs1_c_1_1}}</ion-label>
                <ion-label>{{recorder.cs1_c_1_2}}</ion-label>
                <ion-label>{{recorder.cs1_c_1_3}}</ion-label>
                <ion-label>
                  <div *ngIf="recorder.cs1_defrost_status">{{recorder.time_record}}</div>
                </ion-label>
                <ion-label *ngIf="recorder.cs1_defrost_status=='ปกติ';else warningStatus1">{{recorder.cs1_defrost_status}}</ion-label>
                <ng-template #warningStatus1>
                  <ion-label color="danger">{{recorder.cs1_defrost_status}}</ion-label>
                </ng-template>
              </div>
            </div>
            <!-- --Cold Storage 2 -->
            <div item-content class="group-header-60">
              <div class="group-header-content">
                <ion-label *ngIf="recorder.cs2_rm <= -18;else warningRm2">{{recorder.cs2_rm}}</ion-label>
                <ng-template #warningRm2>
                  <ion-label color="danger">{{recorder.cs2_rm}}</ion-label>
                </ng-template>
                <ion-label>
                  <div *ngIf="recorder.cs2_defrost_status">{{recorder.time_record}}</div>
                </ion-label>
                <ion-label *ngIf="recorder.cs2_defrost_status=='ปกติ';else warningStatus2">{{recorder.cs2_defrost_status}}</ion-label>
                <ng-template #warningStatus2>
                  <ion-label color="danger">{{recorder.cs2_defrost_status}}</ion-label>
                </ng-template>
              </div>
            </div>
            <button item-end ion-button default color="danger" (click)="deleteRecord(recorder)">ลบ</button>
          </ion-item>
        </ion-card-content>
      </ion-scroll>
    </ion-list>

  </ion-card>
</ion-content>