page-repair-invoice-request-add {
    .repair-image{
        // width:250px;
        width:100%;
        // height:250px;
    }
    ion-textarea{
        height:15vh;
        textarea{
            height: 15vh !important;
        }
    }
}
