<!--
  Generated template for the CarAccessControlPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      <!--<ion-item>-->
      <ion-icon item-start><i class="fa fa-exchange" aria-hidden="true"></i></ion-icon>
      ระบบบันทึกรถเข้า-ออก
      <!--</ion-item> -->
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-segment (ionChange)="getCarItems()" [(ngModel)]="selectedStatus">
        <ion-segment-button value='1'>รถขาออก</ion-segment-button>
        <ion-segment-button value='2'>รถขาเข้า</ion-segment-button>
         <ion-segment-button value='3'>ประวัติการบันทึก</ion-segment-button> 
      </ion-segment>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <!-- Table Header -->
        <ion-row class="table-header">
          <ion-col col-12>
              <ion-searchbar (ionInput)="searchCars($event)"></ion-searchbar>
          </ion-col>
          <!-- Driver Name -->
          <ion-col col-3>
            <ion-item>คนขับรถ</ion-item>
          </ion-col>
          <ion-col col-2>
            <ion-item>ป้ายทะเบียน</ion-item>
          </ion-col>
          <ion-col col-3>
            <ion-item>สถานที่ติดต่อ</ion-item>
          </ion-col>
          <ion-col col-4></ion-col>
          <div class="table-header-line"></div>
        </ion-row>
        <!-- Table Content -->
        <ion-row class="table-content" *ngFor="let car of cars">
          <!-- Driver Name -->
          <ion-col col-3>
            <ion-item>
              {{car.driver?.name}} {{car.driver?.lastname}}
            </ion-item>
          </ion-col>
          <!-- Plate Number -->
          <ion-col col-2>
            <ion-item>{{car.car?.plate_number}}</ion-item>
          </ion-col>
          <ion-col col-3>
            <ion-item>{{car?.destination}}</ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item>
                <button margin-right *ngIf="selectedStatus!=1" (click)="cancelStatus(car)" margin-bottom ion-button color="danger" default>ยกเลิกสถานะ</button>
                <!-- Departure Button -->
                <button margin-bottom *ngIf="selectedStatus==1" (click)="submitDeparture(car)" ion-button color="primary" default>บันทึกการใช้</button>
                <!-- Arrival Button  -->
                <button margin-bottom *ngIf="selectedStatus==2" (click)="editCarDeparture(car)" ion-button color="warning" default>แก้ไขขาออก</button>
                <button margin-bottom *ngIf="selectedStatus==2" (click)="submitArrival(car)" ion-button color="primary" default>บันทึกรถขาเข้า</button>
                <button margin-bottom *ngIf="selectedStatus==3" (click)="editCarAccess(car)" ion-button color="warning" default>แก้ไขข้อมูล</button>
            </ion-item>
          </ion-col>
          <div class="table-content-line"></div>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>